* {
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}

.card {
background-color: rgb(65, 70, 111);
border: 10px;
border-color: black;
}

img{
    height: 319px;
}

.card-title{
    justify-content: center;
    font-style: italic;
    text-align: center;
}

p{
    text-align: center;
}